{% extends "base.html" %}

{% block page_title %}
    <h2>{{post.titles}}</h2>
{% endblock %}

{% block page_content %}
    <small>
        {{ post.created_on.date }} | Categories:
        {% for category in post.categories.all %}
            <a href="{% url 'blog-category' category.name %}">
                {{ category.name }}
            </a>
        {% endfor %}
    </small>
    <p>{{ post.body | linebreaks }}</p>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            {{ form.author }}
        </div>
        <div>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
        <input type="button" value="DELETE" onclick="location.href='{% url "post-delete" post.id %}'">
    <h3>Comments:</h3>
    {% for comment in comments %}
        <p>
            On {{ comment.created.date }} <b>{{ comment.author }}</b> wrote:
        </p>
        <p>
            {{ comment.body | linebreaks }}
        </p>
    {% endfor %}
{% endblock %}